/*******************************
Web Calc c 2016 John Garrison
main.css
Bootstrap overrides and custom
styling.
*******************************/


/*******************************
GENERAL
*******************************/

html {
	height: auto;
	background: white;
	background: radial-gradient(circle, #FFF 20%, #DBDBDB);
	background-size: cover;
	overflow: auto;
}

body {
	font-size: 62.5%;
	width: auto;
	position: relative;
}

/*******************************
Calculator
*******************************/

#calculator {
	width: 325px;
	height: auto;
	position: fixed;
	margin: 3em 2em 4em 10em;
	padding-top: 2em;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 2em;
	
	background: linear-gradient(#969696, #858585); /* Calc BG */
	border-radius: 3px;
	box-shadow: 0px 4px #616161, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.top {
	margin-top: 2em;
}

.screenCalc {
	font-family: 'Roboto', arial;
	font-size: 1em;
}

.clearCalc {

}

.clearQuote {

}

.top .screenCalc {
	height: 40px;
	width: 212px;
	
	float: right;
	
	padding: 0 10px;
	
	background: rgba(6, 0, 0, 0.2);
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
	
	/* Typography */
	font-size: 9em;
	line-height: 40px;
	color: #FFF;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
	letter-spacing: 1px;
}

/* Clear floats */
.keys, .top {
	overflow: hidden;
	font-family: 'Roboto', arial;
}

.keys {
	padding-left: 1em;
	width: auto;
	height: auto;
	margin-top: 2em;
	font-family: 'Roboto', arial;
	font-size: 2em;
}

/* Applying same to the keys */
.keys span, .top span.clearCalc {
	float: left;
	position: relative;
	top: 0;
	
	cursor: pointer;
	
	width: 66px;
	height: 36px;
	
	background: white;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	
	margin: 0 7px 11px 0;
	
	color: #888;
	line-height: 36px;
	text-align: center;
	
	/* prevent selection of text inside keys */
	user-select: none;
	
	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.2s ease;
}

/* Remove right margins from operator keys */
/* style different type of keys (operators/evaluate/clear) differently */
.keys span.operator {
	background: #FFF0F5;
	margin-right: 0;
}

.keys span.eval {
	background: #E37F7F;
	box-shadow: 0px 4px #B06464;
	color: #FFF;
	font-family: 'Roboto', arial;
	font-size: 2.4em;
}

.top span.clearCalc {
	background: #E37F7F;
	box-shadow: 0px 4px #B37272;
	color: white;
	font-family: 'Roboto', sans-serif;
}

/* Some hover effects */
.keys span:hover {
	background: #E8CCCC;
	box-shadow: 0px 4px #8A3F3F;
	color: #732929;
}

.keys span.eval:hover {
	background: #DE5959;
	box-shadow: 0px 4px #B37272;
	color: #ffffff;
}

.top span.clearCalc:hover {
	background: #f68991;
	box-shadow: 0px 4px #d3545d;
	color: white;
}

/* Simulating "pressed" effect on active state of the keys by removing the box-shadow and moving the keys down a bit */
.keys span:active {
	box-shadow: 0px 0px #6b54d3;
	top: 4px;
}

.keys span.eval:active {
	box-shadow: 0px 0px #717a33;
	top: 4px;
}

.top span.clearCalc:active {
	top: 4px;
	box-shadow: 0px 0px #d3545d;
}

#bottomCalcTitle {
	font-size: 1.2em;
	font-family: 'Lobster', arial;
	color: #BDBDBD;
	margin-left: 7em;
}



/*******************************
QUOTE GENERATOR
*******************************/


#quotegenerator {
	width: 30em;
	height: 36em;
	position: fixed;
	margin: 3em 2em 4em 70em;
	padding-top: 2em;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 2em;
	
	background: linear-gradient(#186F8C, #105870); /* Calc BG */
	border-radius: 3px;
	box-shadow: 0px 4px #134859, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

#quoteTitle {
	font-size: 1.8em;
	font-family: 'Lobster', arial;
	color: #A2DEF2;
	margin-top: 0;
	text-align: center;
}

#getQuoteBtn {
	float: left;
	position: relative;
	width: 50%;
	margin-left: 0;
	margin-right: 0;
	top: 0;
	
	cursor: pointer;
	font-family: 'Oswald', arial;
	font-size: 3em;
	
	height: 2.6em;
	
	background: #3FB2D9;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);

	
	color: #888;
	line-height: 36px;
	text-align: center;
	
	/* prevent selection of text inside keys */
	user-select: none;
	
	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.2s ease;
}

#getQuoteBtn:hover {
	background: #1E3B45;
	box-shadow: 0px 4px #132B33;
	color: #732929;
}

#getQuoteBtn:active {
	box-shadow: 0px 0px #756374;
	top: 4px;
}

#getQuoteTxt {
	text-align: center;
	margin-top: 1em;
	padding-top: 2em;
	color: rgb(32,8,12);
}

.screenQuote {
	height: 6em;
	width: 50%;
	
	padding: 2.5em 2em 2em 4.2em;
	
	background: rgba(6, 0, 0, 0.2);
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
	
	/* Typography */
	font-size: 3.2em;
	font-family: 'Lobster', arial;
	color: #6ED3F5;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
}